<%= form_for [@user, @profile] do |f| %>
  <p>
    <%= f.text_field :first_name, placeholder: "First name" %>
  </p>
  <p>
    <%= f.text_field :last_name, placeholder: "Last name" %>
  </p>
  <p>
    <%= f.text_field :mobile_number, placeholder: "mobile_number" %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
