<div class='row'>
  <h3>Click a section below to edit</h3>
  <div class='col-md-3'>
    <% if current_user.profile.present?%>
      <%= link_to 'About you', edit_user_profile_path(@user, @profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>
    <% else %>
      <%= link_to 'About you', new_user_profile_path(@user,@profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>

    <% end %>
  </div>
  <div class='col-md-9'>
    <div class="row">
      <div class='col-md-8'>
        <%= render 'form' %>
      </div>
      <div class='col-md-4'>
        <h3>Your Photos: </h3>
        <div style='border: dashed; text-align: center;'>
          <strong>
            To Delete Images:
          </strong>
          <p>
            Hover over an image and click "X"
          </p>

        </div>

        <div >
          <ul style='list-style: none;'>
            <% @photos.each do |photo| %>
                <li id='photo-<%= photo.id%>' style='display: inline_block''>
                  <div style='position: relative; display: inline_block'>
                    <%= image_tag photo.image.url(:thumb)%>
                    <%= link_to(@user, @listing, photo), method: :delete do %>
                      <span class='glyphicon glyphicon-remove'></span>
                    <% end %>
                  </div>

                </li>
            <% end %>

          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
