<div class='row'>
  <h3>Click a section below to edit</h3>
  <div class='col-md-3'>
    <% if current_user.profile.present?%>
      <%= link_to 'About you', edit_user_profile_path(@user, @profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>
    <% else %>
      <%= link_to 'About you', new_user_profile_path(@user,@profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>

    <% end %>
  </div>
  <div class='col-md-9'>
    <div class="row">
      <div id='new-listing-form' class='col-md-4'>
        <%= render 'form'%>

      </div>
    </div>

  </div>
</div>
