<%= form_for [@user, @owner]    do |f| %>
<p>
  <%= f.text_field :first_name, placeholder: "First name" %>
</p>
<p>
  <%= f.text_field :last_name, placeholder: "Last name" %>
</p>
<p>
  <%= f.text_field :mobile_phone, placeholder: "Mobile phone" %>
</p>
<p>
  <%= f.file_field :avatar, placeholder: "Upload photo" %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
