<div class='row'>
  <h3>Click a section below to edit</h3>
  <div class='col-md-3'>
    <% if current_user.profile.present?%>
      <%= link_to 'About you', edit_user_profile_path(@user, @profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>
    <% else %>
      <%= link_to 'About you', new_user_profile_path(@user,@profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>

    <% end %>
  </div>
  <div class='col-md-9' id='profile_form'>
    <h4>About Your Dogs</h4>
    <p>
      <%= link_to 'Add Another dog', new_user_dog_path, remote: true, class: 'btn btn-primary'%>
    </p>

    <div style='border: solid'>
      <ul id='dog_list' style='list-style: none;'>
        <% if @user.dogs.any? %>
          <% @user.dogs.each do |dog|%>
            <li id="dog-<%= dog.id %>">
              <% if dog.dog_avatar.present? %>
                <%= image_tag(dog.dog_avatar.url(:medium), :class => "dog-image-200")%>
              <% end %>
              <strong>Dog name: </string><%= dog.name%><br>
              <strong>Breed: </string><%= dog.breed%><br>
              <%= link_to 'Edit', edit_user_dog_path(@user, dog), class: 'btn btn-primary', remote: true%>
              <%= link_to 'Reomove This Dog', user_dog_path(@user, dog), class: 'btn btn-primary', method: :delete, data:
              {confirm: 'Are your sure?'} %>
            </li>
          <% end %>
        <% else %>
          <div class="">
            <p>
              Your currently have no dogs, please add your first dog below.
            </p>

          </div>


        <% end %>

      </ul>
    </div>
    <div class="row">
      <div id='new-dog-form' class='col-md-4'>

      </div>
    </div>

  </div>
</div>
