<!DOCTYPE html>
<html>
<head>
  <title>Pawesome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <div class='navbar-header'>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class='navbar-brand' style="font-size: 2em">Pawesome</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <%= link_to listings_path do%>
                  Find a sitter
                <% end %> 
              </li>
               
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.profile.present? %>
                      <%= image_tag(current_user.profile.avatar.url(:thumb), :class => "round-image-50")%>
                      <%= current_user.profile.first_name %>
                    <% else%>
                      <img src="/images/thumb/missing.png" class='round-image-50' alt="" />
                      hi
                    <% end %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.profile.present? %>
                      <li><%= link_to 'Profile', edit_user_profile_path(current_user,current_user.profile) %></li>
                    <% else %>
                      <li><%= link_to 'Profile', new_user_profile_path(current_user) %></li>
                    <% end %>

                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <% if current_user.listing.present?%>
                      <li><%= link_to 'Your listing', edit_user_listing_path(current_user, current_user.listing)%></li>

                    <% else%>
                      <li><%= link_to 'Become a sitter', new_user_listing_path(current_user)%></li>
                    <% end %>
                    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>


              <% else %>
                <li><%= link_to 'Sign in', new_user_session_path %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <% end %>
            </ul>

          </div>
        </div>      
      </div>      
    </div>
  </nav>
  <main>
    <div class='container-fluid' style="margin: 0; padding: 0">  
      <%= yield %>                  
    </div>
  </main>


</body>
</html>
